@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', sans-serif;
  background: #efefef;
}

header {
  min-height: 300px;
  background-color: #1ec2f8;
  padding: 25px;
}

.author-name, .intro-description {
  color: #fff;
  text-align: center;
}

.author-name {
  font-size: 2em;
}

.author-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
  object-fit: cover;
}

.intro-description {
  font-size: 1.4em;
}

.social-media-list {
  display: flex;
  margin: 15px auto 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.social-media-list li {
  display: inline-block;
}

.social-media-list a {
  padding: 5px 10px;
  font-size: 32px;
  color: #fff;
}

.social-media-list a:hover {
  color: #000000;
}

.hi-phrase {
  animation: scaleAndShake 300ms ease-in 200ms ease-out;
}

.activity-section {
  padding: 20px 0;
}

.text-gray {
  color: #586069 !important
}

@keyframes scaleAndShake {
  0% {
    transform: scale(2)
  }

  100% {
    transform: scale(1)
  }
}